* {
    margin: 0;
    padding: 0;
    // outline: 1px solid #f00;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;

    ul {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
}

@import '_container';
@import '_header';
@import '_logo';
@import '_infoblock';
@import '_button';
@import 'main';
@import 'footer';